.custom_white {
    color: #F6F7F9;
}

.custom_pink {
    color: #E2CBCB;
}

.custom_grey {
    color: #D9D9D9;
}


.custom_italiana {
    font-family: 'Italiana', serif !important;
    text-transform: uppercase !important;
    text-shadow: 2px 0px 0px #E2CBCB;
    display: inline-block;
}


.custom_playfair_semi {
    font-family: 'Playfair_semibold';
}

.custom_playfair_bold {
    font-family: 'Playfair_bold';
}

.custom_playfair_medium {
    font-family: 'Playfair_medium';
}

@font-face {
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../custom_files/Italiana/Italiana-Regular.ttf") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Playfair_semibold';
    src: url("../custom_files/Playfair_display/static/PlayfairDisplay-SemiBold.ttf");
}

@font-face {
    font-family: 'Playfair_bold';
    src: url("../custom_files/Playfair_display/static/PlayfairDisplay-Bold.ttf");
}

@font-face {
    font-family: 'Playfair_medium';
    src: url("../custom_files/Playfair_display/static/PlayfairDisplay-Medium.ttf");
}





/* Spoločné nastavenia pre vyhľadávací box */
.search-container {
    background-color: rgba(226, 203, 203, 0.5);
    border-radius: 40px;
    padding: 5px; /* Menší padding */
    transition: all 0.3s ease;
    margin: 0 auto;
}

.search-container:hover {
    box-shadow: 0 15px 35px rgba(365, 365, 365, 0.15);
}

.form-control.search-input {
    border: none;
    background: transparent;
    padding-left: 35px; /* Priestor pre ikonu */
    font-size: 1rem;  /* Výchozí veľkosť písma */
    height: 40px; /* Menšia výška */
}

.form-control.search-input:focus {
    box-shadow: none;
    outline: none;
}

.btn-search {
    background-color: #007bff;
    color: white;
    border-radius: 50px;
    padding: 8px 15px;  /* Menšie padding pre tlačidlo */
    border: none;
    transition: all 0.3s ease;
    font-size: 0.875rem; /* Menšia veľkosť písma */
}

.btn-search:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.search-icon {
    color: #6c757d;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px; /* Menšia ikona */
}

/* Responzívnosť */
/* Skrytie na mobilných zariadeniach */
@media (max-width: 576px) {
    .search-container {
        display: none; /* Skryje vyhľadávací box na mobiloch */
    }
}

/* Menšia veľkosť pre tablety a menšie obrazovky */
@media (max-width: 768px) {
    .search-container {
        padding: 8px;  /* Trochu väčší padding pre tablety */
    }

    .form-control.search-input {
        font-size: 0.875rem; /* Menšia veľkosť písma na tabletoch */
        height: 35px; /* Zmenšenie výšky */
    }

    .btn-search {
        padding: 6px 12px; /* Menšie tlačidlo */
        font-size: 0.75rem; /* Menšie písmo v tlačidle */
    }

    .search-icon {
        font-size: 16px; /* Menšia ikona */
    }
}

/* Veľkosti pre stredne veľké obrazovky a veľké obrazovky */
@media (min-width: 769px) {
    .form-control.search-input {
        font-size: 1rem;
        height: 50px; /* Väčšia výška na väčších obrazovkách */
    }

    .btn-search {
        padding: 10px 20px;
        font-size: 1rem;
    }

    .search-icon {
        font-size: 20px; /* Väčšia ikona na veľkých obrazovkách */
    }}