<!-- FARBY -->
.custom_white {
    color: #F6F7F9;
}

.custom_pink {
    color: #E2CBCB;
}

.custom_grey {
    color: #D9D9D9;
}


<!-- FONTY -->
@font-face {
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../custom_files/Italiana/Italiana-Regular.ttf") format('truetype');
    unicode-range: U+0000-00FF;
}

.custom_italiana {
    font-family: 'Italiana', serif !important;
    text-transform: uppercase !important;
    text-shadow: 2px 0px 0px #E2CBCB !important;
    display: inline-block;
}

@font-face {
    font-family: 'Playfair_semibold';
    src: url("../custom_files/Playfair_display/static/PlayfairDisplay-SemiBold.ttf");
}

@font-face {
    font-family: 'Playfair_bold';
    src: url("../custom_files/Playfair_display/static/PlayfairDisplay-Bold.ttf");
}

@font-face {
    font-family: 'Playfair_medium';
    src: url("../custom_files/Playfair_display/static/PlayfairDisplay-Medium.ttf");
}

.custom_playfair_semi {
    font-family: 'Playfair_semibold';
}

.custom_playfair_bold {
    font-family: 'Playfair_bold';
}

.custom_playfair_medium {
    font-family: 'Playfair_medium';
}







<!-- HEADER -->
.custom-search-icon {
    color: #000;
    transition: color 0.3s ease;
}

.custom-search-icon:hover,
.custom-search-icon:focus {
    color: #884545;
}

.custom-form-control::placeholder {
    color: #333;
}

.custom-form-control:focus {
    border-color: #884545 !important ;
    background-color: rgba(226, 203, 203, 0.7) !important;
    outline: none !important;
    box-shadow: 0 0 5px 2px rgba(196, 175, 175, 0.8) !important;
}