/* FARBY */
.custom_white {
    color: #F6F7F9;
}

.custom_pink {
    color: #E2CBCB;
}

.custom_grey {
    color: #D9D9D9;
}


/* FONTY */
@font-face {
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../custom_files/Italiana/Italiana-Regular.ttf") format('truetype');
    unicode-range: U+0000-00FF;
}

.custom_italiana {
    font-family: 'Italiana', serif !important;
    text-transform: uppercase !important;
    text-shadow: 2px 0px 0px #E2CBCB !important;
    display: inline-block;
}

.custom_italiana_max {
    font-family: 'Italiana', serif !important;
    text-transform: uppercase !important;
    text-shadow: 7px 0px 0px #E2CBCB !important;
    display: inline-block;
    font-size: 15vw;
}

@font-face {
    font-family: 'Playfair_semibold';
    src: url("../custom_files/Playfair_display/static/PlayfairDisplay-SemiBold.ttf");
}

@font-face {
    font-family: 'Playfair_bold';
    src: url("../custom_files/Playfair_display/static/PlayfairDisplay-Bold.ttf");
}

@font-face {
    font-family: 'Playfair_medium';
    src: url("../custom_files/Playfair_display/static/PlayfairDisplay-Medium.ttf");
}

.custom_playfair_semi {
    font-family: 'Playfair_semibold';
}

.custom_playfair_bold {
    font-family: 'Playfair_bold';
}


/* VSETKO */
h2{
    font-family: 'Playfair_medium';
    font-size: 2rem;
}

h3{
    font-family: 'Playfair_medium';
    font-size: 1.8rem;
}

h4 {
    font-family: 'Playfair_medium';
    font-size: 1.5rem;
}

h5{
    margin-left: 20px;
    font-family: 'Playfair_medium';
    font-size: 1.25rem;
}

h5 + p{
    margin-left: 20px;
}

p {
    font-family: 'Playfair_medium';
    font-size: 1rem;
}

body {
    background-color: #F6F7F9 !important;
}

head {
    background-color: #F6F7F9 !important;
}

.custom-h5 {
    margin-left: 20px;
}


/* HEADER */
.custom-search-icon {
    color: #000;
    transition: color 0.3s ease;
}

.custom-search-icon:hover,
.custom-search-icon:focus {
    color: #884545;
}

.custom-form-control::placeholder {
    color: #333;
}

.custom-form-control:focus {
    border-color: #884545 !important ;
    background-color: rgba(226, 203, 203, 0.7) !important;
    outline: none !important;
    box-shadow: 0 0 5px 2px rgba(196, 175, 175, 0.8) !important;
}


.col-md-5 input.form-control:focus {
    border-color: #884545 !important;
    box-shadow: none !important;
}

.col-md-4 input.form-control:focus,
.col-md-4 textarea.form-control:focus,
.col-md-4 select.form-control:focus {
    border-color: #884545 !important;
    box-shadow: none !important;
}

.dropdown-item:focus, .dropdown-item:active {
    outline: none !important;  /* Odstráni modrý obrys pri zaostrení */
    box-shadow: none !important; /* Odstráni podsvietenie */
    background-color: #D9D9D9 !important;

}


.custom-card-header-bg {
    background-color: #D9D9D9 !important;
    color: black;
}



.custom-navbar {
    background-color: #F6F7F9 !important; /* Nastav vlastnú farbu */
}



/* MAIN */
.custom-container {
    min-height: 40vh;
}

@media (max-width: 575px) {
    .custom-container {
        min-height: 20vh;
    }
}


/* LOGIN */
#loginDropdown::after {
    display: none !important;
}


/* NAV BAR */
.navbar-toggler-icon {
    transform: scaleX(1.4) scaleY(0.7);
    transform-origin: center;
    position: relative;
    top: -7px;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    transition: opacity 0.5s ease;
}

.custom-dropdown {
    border: 2px solid #E2CBCB;
    border-radius: 0 !important;
    border: none !important;
    background-color: #E2CBCB;
}

.custom-dropdown .dropdown-item {
    background-color: #E2CBCB;
    color: #333333;
    font-family: 'Playfair_medium';
}

.custom-dropdown .dropdown-item:hover {
    background-color: rgba(236, 227, 227, 0.7);
    color: #000;
    font-family: 'Playfair_bold';
}